{% from "_includes/forms" import autosuggestField, lightswitchField %}

<div class="field"><p class="warning">This Gateway (PxPay) currently only supports the Credit Card Payment Type "Purchase".</p></div>

{{ autosuggestField({
     label: "Username"|t('commerce'),
     id: 'username',
     class: 'ltr',
     name: 'username',
     value: gateway.username,
     suggestEnvVars: true,
     errors: gateway.getErrors('username')
 }) }}

  {{ autosuggestField({
     label: "Password"|t('commerce'),
     id: 'password',
     class: 'ltr',
     name: 'password',
     value: gateway.password,
     suggestEnvVars: true,
     errors: gateway.getErrors('password')
 }) }}

 {{ lightswitchField({
     label: "Test mode?"|t('commerce'),
     name: 'testMode',
     instructions: 'If test mode is enabled you can use the test card numbers found <a href="https://www.paymentexpress.com/support-merchant-frequently-asked-questions-testing-details" target="_blank">here</a>',
     on: gateway.testMode,
     errors: gateway.getErrors('testMode'),
 }) }}