{% from "_includes/forms" import textField, lightswitchField %}

{{ textField({
     label: "Username"|t('commerce'),
     id: 'username',
     class: 'ltr',
     name: 'username',
     value: gateway.username,
     errors: gateway.getErrors('username')
 }) }}

  {{ textField({
     label: "Password"|t('commerce'),
     id: 'password',
     class: 'ltr',
     name: 'password',
     value: gateway.password,
     errors: gateway.getErrors('password')
 }) }}

 {{ lightswitchField({
     label: "Test mode?"|t('commerce'),
     name: 'testMode',
     on: gateway.testMode,
     errors: gateway.getErrors('testMode'),
 }) }}
